<div class="container">
    <div class="content">
        <span class="border-bottom"></span>
        <div class="row">
            <h1>Kullanıcı Listesi</h1>
            <hr>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Doğum Tarihi</th>
                        <th>E-Posta</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userList as |user key|}}
                    <tr>
                        <td>{{user.ad}}</td>
                        <td>{{user.soyad}}</td>
                        <td>{{user.dogumTarihi}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a class="btn btn-danger btn-xs" href="/users/delete/{{user._id}}">Kullanici Sil</a>
                        </td>
                                                <td>
                            <a class="btn btn-secondary btn-xs" href="/users/update/{{user._id}}">Kullanici Güncelle</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="/users/create">Yeni Kullanıcı Ekle</a>
            </div>
        </div>
    </div>
</div>